/*
Theme Name: Responsive Base for Thematic
Theme URI: http://scottnix.com/responsive-base-a-child-theme-for-thematic/
Description: A child theme for Thematic with stripped down styles to provide a solid responsive base for starting themes, the less is more approach.
Author: Scott Nix
Author URI: http://scottnix.com/
Template: thematic
Version: 0.1.0
Tags: thematic theme, child theme, responsive, mobile first
*/
/* ==========================================================================
   normalize.css v2.1.2 - necolas.github.com/normalize.css/
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   base styles
   ========================================================================== */
body,
input,
textarea {
  font-size: 1em;
  line-height: 1.6;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #010101;
}

body {
  background: #eeeeee;
}

h1 {
  margin: 0.67em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
}

h2 {
  margin: .83em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.5em;
}

h3 {
  margin: 1em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.17em;
}

h4 {
  margin: 1.33em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1em;
}

h5 {
  margin: 1.67em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .83em;
}

h6 {
  margin: 2.33em 0;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: .75em;
}

a {
  color: #004B91;
  text-decoration: none;
}
a:visited {
  color: #743399;
}
a:hover {
  color: #FF4B33;
}

p,
pre,
form,
select,
address,
embed {
  margin: 0 0 1.625em;
}

ul {
  margin: 0 0 1.625em;
  list-style: disc;
}

ol {
  margin: 0 0 1.625em;
  list-style-type: decimal;
}
ol ol {
  list-style: upper-alpha;
}
ol ol ol {
  list-style: lower-roman;
}
ol ol ol ol {
  list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

dl {
  margin: 0 1.5em;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.625em;
}

abbr,
acronym {
  cursor: help;
}

ins {
  border-bottom: 1px solid #333;
  text-decoration: none;
}

textarea {
  resize: vertical;
}

caption {
  text-align: left;
}

table {
  margin: 0 0 1.625em;
  border: 1px solid #ccc;
  border-width: 1px 1px 0;
  text-align: left;
}

tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  padding: .7em 1.25em;
  vertical-align: top;
}

hr {
  height: 1px;
  margin: 0 0 1.625em;
  border: 0;
  background-color: #010101;
  color: #010101;
}

::-moz-selection {
  background: #fe57a1;
  color: #f1f1f1;
  text-shadow: none;
}

::selection {
  background: #fe57a1;
  color: #f1f1f1;
  text-shadow: none;
}

blockquote {
  margin: 0 1em;
  font-style: italic;
}
blockquote em,
blockquote i,
blockquote cite {
  font-style: normal;
}

/* ==========================================================================
   content styles
   ========================================================================== */
#branding {
  width: 90%;
  margin: 0 auto;
  padding: 1.625em 0;
}

#blog-title {
  font-size: 2em;
}

#blog-description {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.skip-link {
  display: none;
}

#access .menu {
  width: 90%;
  margin: 0 auto;
}

.sf-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sf-menu li a {
  display: block;
  padding: .5em;
}
.sf-menu li a:hover {
  background: #000;
  color: #ddd;
}
.sf-menu li li {
  display: none;
}

#main {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 1.625em 0;
  clear: both;
}

#container {
  margin: 0 0 1.625em;
}

.page-title span {
  font-style: italic;
}
.page-title .meta-nav {
  font-style: normal;
}

.hentry {
  margin: 0 0 1.625em;
}

.sticky {
  padding: 1.625em;
  background: rgba(0, 0, 0, 0.1);
}

.entry-meta {
  margin: 0 0 1.625em;
}
.entry-meta abbr {
  border: none;
  cursor: text;
}

.entry-utility {
  clear: both;
}

.edit-link {
  display: block;
  clear: both;
}

#links-page,
#archives-page {
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#author-info {
  margin: 0 0 1.625em;
  overflow: hidden;
}
#author-info .avatar {
  float: left;
  margin: 0 1em 0;
}

/* images
   ========================================================================== */
.entry-content .wp-post-image {
  float: right;
  margin: 0 0 1em 1.625em;
}
.entry-content img {
  height: auto;
  max-width: 100%;
  margin: 0 0 1.625em;
}

.alignleft,
img.alignleft {
  float: left;
  margin-right: 1.625em;
}

.alignright,
img.alignright {
  float: right;
  margin-left: 1.625em;
}

.aligncenter,
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.wp-caption {
  max-width: 100%;
  margin-bottom: 1.625em;
  text-align: center;
}
.wp-caption img {
  margin: 0;
  padding: 0;
}

.wp-caption-text {
  margin: 0;
  padding: 1.625em 0;
}

.gallery {
  padding: 0 0 1.625em;
  clear: both;
}

.gallery-row {
  display: block;
  margin: 0;
  clear: both;
  overflow: hidden;
}

.gallery-item {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.gallery-item img {
  height: auto;
  margin: 0 auto;
  border: none !important;
}

.gallery-icon {
  margin: 0 .25em;
}

.gallery-caption {
  padding: .25em .25em 0;
}

/* comments
   ========================================================================== */
#comments {
  clear: both;
  padding: 1.625em 0 0;
}
#comments ol,
#comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#comments-list ol {
  margin: 0 0 1.625em;
  border: 1px solid #ccc;
  border-bottom: none;
}
#comments-list li {
  position: relative;
  padding: 1.625em 1.5em 0;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
}
#comments-list li.bypostauthor {
  background: #ffffcc;
}
#comments-list li .avatar {
  position: absolute;
  top: 1.625em;
  left: 1.5em;
  height: 2em;
  width: 2em;
}
#comments-list li li {
  margin: 0 0 1.625em;
  border: 1px solid #ccc;
}

.thread-odd {
  background: #f1f1f1;
}

.comment-author {
  padding: 0 0 0 3em;
  font-weight: bold;
}

.comment-meta {
  padding: 0 0 1em 3em;
}

#respond {
  margin: 0 0 1.625em;
  border-bottom: 1px solid #ccc;
}

ul #respond {
  margin: 0;
  border: none;
}

.comment-reply-link {
  padding: 0 0 1.625em;
  text-align: right;
}

#trackbacks-list .comment-content {
  position: absolute;
  left: -9999px;
}

#cancel-comment-reply-link {
  float: right;
}

.form-section input {
  width: 98%;
  margin: 0 0 1.625em;
}
.form-section textarea {
  width: 98%;
}

#form-allowed-tags p {
  margin: 0;
}
#form-allowed-tags span {
  font-style: italic;
}

.form-submit {
  text-align: right;
}

/* pagination navigation
   ========================================================================== */
.page-link,
.comment-navigation {
  margin: 0 0 1.625em;
  padding: 1.625em 0 0;
  clear: both;
  font-weight: bold;
  word-spacing: 0.5em;
}
.page-link a,
.comment-navigation a {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.4em 0.65em;
}
.page-link a,
.page-link span,
.comment-navigation a,
.comment-navigation span {
  margin-right: 0.5em;
}

/* asides, sidebars & widget-ready areas
   ========================================================================== */
.aside {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.aside ul,
.aside section ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.aside ul ul,
.aside section ul ul {
  margin: 0 0 0 1em;
}
.aside ul ul li,
.aside section ul ul li {
  padding: 1px 0;
}
.aside img {
  max-width: 100%;
}
.aside table {
  border: none;
}
.aside thead {
  border: 1px solid #ccc;
}
.aside tbody {
  border: 1px solid #ccc;
}
.aside th,
.aside td {
  padding: .15em .6em;
  border-right: 1px solid #ccc;
}
.aside tfoot tr {
  border: none;
}
.aside tfoot td {
  border-color: transparent;
}
.aside #searchform input,
.aside select {
  width: 100%;
  max-width: 98%;
}
#content .aside {
  margin: 0 0 1.625em;
}

.widget_tag_cloud {
  margin: 0 0 1.625em;
}

#searchsubmit {
  display: none;
}

#primary {
  margin-bottom: 1.625em;
}

#footer {
  margin-top: 1.625em;
  clear: both;
}

#subsidiary {
  width: 90%;
  margin: 0 auto;
  padding: 1.625em 0 0;
}
#subsidiary #footer-widget {
  width: 100%;
  margin: 0;
  clear: both;
}

#siteinfo {
  width: 90%;
  margin: 0 auto;
  padding: 1.625em 0 1.625em;
  clear: both;
}

/* overriding css above - specific pages, templates
   ========================================================================== */
/* page templates */
.page-template-template-page-fullwidth-php #container {
  width: 100%;
  margin-right: 0;
}
.page-template-template-page-fullwidth-php #content,
.page-template-template-page-fullwidth-php #comments {
  width: 100%;
}

/* attachments */
.attachment .page-title {
  font-style: italic;
}

/* internet explorer specific
   ========================================================================== */
.lt-ie9 #branding,
.lt-ie9 #access .menu,
.lt-ie9 #main,
.lt-ie9 #subsidiary,
.lt-ie9 #siteinfo {
  width: 640px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* plugin specific
   ========================================================================== */
/* wp stats & smiley */
.wp-smiley {
  max-height: 12px;
  margin: 0 !important;
}

img#wpstats {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

img.focusable#wpstats:active,
img.focusable#wpstats:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

#header:before, #main:before, #footer:before,
#header:after,
#main:after,
#footer:after {
  content: " ";
  display: table;
}

#header:after, #main:after, #footer:after {
  clear: both;
}

#header, #main, #footer {
  *zoom: 1;
}

/* media queries
   ========================================================================== */
@media only screen and (min-width: 45em) {
  #branding,
  #access .menu,
  #main,
  #subsidiary,
  #siteinfo {
    max-width: 1140px;
  }

  #container {
    float: left;
    width: 65.4%;
    margin-right: 3.8%;
  }

  .main-aside {
    float: right;
    width: 30.8%;
    clear: right;
  }

  #subsidiary {
    padding-top: 0;
  }
  #subsidiary .aside {
    float: left;
    width: 30.8%;
    margin: 0 3.8% 0 0;
  }
  #subsidiary #third {
    margin: 0;
  }

  blockquote.left {
    float: left;
    width: 33%;
    margin-left: 0;
    margin-right: 1.5em;
    text-align: right;
  }
  blockquote.right {
    float: right;
    width: 33%;
    margin-left: 1.5em;
    margin-right: 0;
    text-align: left;
  }

  .sf-menu li {
    float: left;
  }

  .content-column {
    float: left;
    width: 45%;
    margin: 0 0 1.625em;
  }

  .navigation {
    margin: 0 0 1.625em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    width: 50%;
    text-align: right;
  }

  .page-template-template-page-fullwidth-php #comments {
    width: 65.4%;
  }
}
/* print styles - html5boilerplate.com/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .aside {
    display: none;
  }
}
